@model IEnumerable<AspNetCoreProject.Models.OrderDtl>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quentity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quentity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.Orderdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderDtlId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderDtlId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderDtlId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
