<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NIBIR FASHION</title>
    <link rel="icon" type="image/x-icon" href="~/images/nibir fashion.png">

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body style="background-color:#f5ddf3">
    <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:#a70593"  >

        @*<a href="@Url.Action("Index", "Home")" class="navbar-brand">
            <img src="~/images/nibir fashion.png" title="NIBIR FASHION" alt="" height="40" width="40" class="rounded-circle"/>
        </a>*@
        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">NiBIR FASHION</a>
        <div class="container">


            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

               
            </div>
            <div class="navbar-collapse collapse">

               

                
                @if (Context.User.Identity.IsAuthenticated)
                {
                    <ul class="nav navbar-nav navbar-left">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Detalse  <span class="caret"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <ul>
                                    <li><a asp-area="" asp-controller="Categories" asp-action="Index">Categories</a></li>
                                    <li><a asp-area="" asp-controller="CustomerReviews" asp-action="Index">CustomerReviews</a></li>
                                    <li><a asp-area="" asp-controller="Customers" asp-action="Index">Customers</a></li>
                                    <li><a asp-area="" asp-controller="DeliveryBoys" asp-action="Index">DeliveryBoys</a></li>
                                    <li class="divider"></li>
                                    <li><a asp-area="" asp-controller="Employees" asp-action="Index">Employees</a></li>
                                    <li><a asp-area="" asp-controller="OrderDtls" asp-action="Index">OrderDtls</a></li>
                                    <li><a asp-area="" asp-controller="Orders" asp-action="Index">Orders</a></li>
                                    <li class="divider"></li>

                                    <li><a asp-area="" asp-controller="Products" asp-action="Index">Products</a></li>
                                    <li><a asp-area="" asp-controller="ShippingInfoes" asp-action="Index">ShippingInfoes</a></li>


                                </ul>
                            </div>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">

                        <li><a asp-area="" asp-controller="Customers" asp-action="IndexSingle">Multipal Select</a></li>
                        <li><a asp-area="" asp-controller="DeliveryBoys" asp-action="Sample">Multipal Insert</a></li>
                        <li><a asp-area="" asp-controller="Employees" asp-action="Index">Employees</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Admin Panal <span class="caret"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <ul>
                                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                                    <li><a asp-area="" asp-controller="Account" asp-action="Login">LogIn</a></li>
                                    <li class="divider"></li>
                                    <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
                                    <li><a asp-area="" asp-controller="Account" asp-action="Roll">Roll</a></li>
                                    <li><a asp-area="" asp-controller="Account" asp-action="RollMappingToUserList">RoleMapToUser</a></li>
                                    <li class="divider"></li>

                                    <li><a asp-area="" asp-controller="MenuHelperModels" asp-action="Index">MenuSettup</a></li>
                                    <li><a asp-area="" asp-controller="MenuModels" asp-action="Index">MenuWithRoll</a></li>

                                    <li><a asp-area="" asp-controller="MenuModelManages" asp-action="Index">MenuPermission</a></li>
                                    <li class="divider"></li>
                                    <li><a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a></li>


                                </ul>

                            </div>
                        </li>

                        <li><a asp-area="" asp-controller="Account" asp-action="Login">@User.Identity.Name</a></li>
                        <li><a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a></li>
                    </ul>
                }
                else
                {
            <ul class="nav navbar-nav navbar-right">
                <li><a asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
                <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
            </ul>
                }
                <ul class="nav navbar-nav navbar-right">



                    @*<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin Panal <span class="caret"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <ul>
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                        <li><a asp-area="" asp-controller="Account" asp-action="Login">LogIn</a></li>
                        <li class="divider"></li>
                        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
                        <li><a asp-area="" asp-controller="Account" asp-action="Roll">Roll</a></li>
                        <li><a asp-area="" asp-controller="Account" asp-action="RollMappingToUserList">RoleMapToUser</a></li>
                        <li class="divider"></li>

                        <li><a asp-area="" asp-controller="MenuHelperModels" asp-action="Index">MenuSettup</a></li>
                        <li><a asp-area="" asp-controller="MenuModels" asp-action="Index">MenuWithRoll</a></li>

                        <li><a asp-area="" asp-controller="MenuModelManages" asp-action="Index">MenuPermission</a></li>
                        <li class="divider"></li>
                        <li><a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a></li>


                    </ul>

                </div>
            </li>*@


                </ul>
                @*<ul class="nav navbar-nav navbar-right">
            <li><a asp-area="" asp-controller="Customers" asp-action="IndexSingle">Multipal Select</a></li>
            <li><a asp-area="" asp-controller="DeliveryBoys" asp-action="Sample">Multipal Insert</a></li>
            <li><a asp-area="" asp-controller="Employees" asp-action="Index">Employees</a></li>
        </ul>*@
                <ul class="nav navbar-nav navbar-left">
                    @*<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Detalse  <span class="caret"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <ul>
                        <li><a asp-area="" asp-controller="Categories" asp-action="Index">Categories</a></li>
                        <li><a asp-area="" asp-controller="CustomerReviews" asp-action="Index">CustomerReviews</a></li>
                        <li><a asp-area="" asp-controller="Customers" asp-action="Index">Customers</a></li>
                        <li><a asp-area="" asp-controller="DeliveryBoys" asp-action="Index">DeliveryBoys</a></li>
                        <li class="divider"></li>
                        <li><a asp-area="" asp-controller="Employees" asp-action="Index">Employees</a></li>
                        <li><a asp-area="" asp-controller="OrderDtls" asp-action="Index">OrderDtls</a></li>
                        <li><a asp-area="" asp-controller="Orders" asp-action="Index">Orders</a></li>
                        <li class="divider"></li>

                        <li><a asp-area="" asp-controller="Products" asp-action="Index">Products</a></li>
                        <li><a asp-area="" asp-controller="ShippingInfoes" asp-action="Index">ShippingInfoes</a></li>


                    </ul>
                </div>
            </li>*@
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>

            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content" style="background-color:#f6bef1">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.ToString()-all right reserved by NIBIR FASHION </p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
