@model AspNetCoreProject.Models.CustomerReview

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CustomerReview</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Opinion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Opinion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageFile)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImageFile)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ReviewId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
